#  Multiple Data Frames

So far in this course, we’ve worked primarily with **a single data frame** to create visualizations and summary statistics. However, in many real-world scenarios, you may have **multiple data frames** that you want to combine.

For example, imagine we have:

- One data frame with each **country's total population**
- Another data frame with that country's **Freedom House score**

To analyze the relationship between these variables, we need to **combine the data frames**.

---

##  Joining Data Frames in the Tidyverse

To join two data frames, we use functions from the `tidyverse`:

- `left_join()`
- `right_join()`
- `full_join()`

All of these functions have the same basic inputs:

- `x`: the **first** data frame
- `y`: the **second** data frame
- `by`: the name of the **key variable(s)** shared across both data frames (used to match rows)

---

## Example Using State Population

Let’s say we have state-level data:

- `pop`: population of each state
- `essential_pop`: number of essential workers in each state

We want to **join these by state name** (`state`). (Notice how each dataset has a state column named exactly the same thing and does not have, for example, one dataset with a column called `state` and another `st`. This is important as many datasets will call the same variable different things. Keep this in mind.)

>  **Important:** The values in the `by` variable must be exactly the same in both datasets — including spelling and letter case. For example, `"D.C."` will *not* match `"DC"` and will create two distinct rows.

---

##  Visual Guide

Here’s a diagram of what we want to do using an **outer join**:

![Join Diagram](join.jpg)


---

##  Uploading Data to Your Jupyter Notebook

To work with your own data, you'll often need to download it from an external source and then upload it into your notebook environment. Here's how to do it step-by-step.

###  Step 1: Download the Data

We’ll use population data from the World Bank.

1. Go to this link: [World Bank Total Population Data](https://data.worldbank.org/indicator/SP.POP.TOTL)
2. On the page, navigate to the **"Download"** section.
3. Choose the format `CSV`.
4. Save the file to your computer. It may be named something like `API_SP.POP.TOTL_DS2_en_csv_v2_XXXX.csv`. You might have to unzip the file too.

---

###  Step 2: Upload the Data to Your Jupyter Notebook

Once you've downloaded the file, follow these steps to upload it into your notebook:

1. In this Jupyter Notebook, right-click the Jupyter notebook and open in a new tab. This takes you to your user directory. Navigate to the folder where this notebook is stored ("ps137L-section/") and once in this folder, click the **Upload** button in the top right.
2. Navigate to the file you just downloaded.
3. Select it and click **Upload** again to confirm.

---
###  Step 3: Read in the Data with R

Once uploaded, use `read.csv()` in a code cell to load it:

In [36]:
# load in the package we'll use to clean/merge our data
library(tidyverse)
# load in Freedom House data (already in the ps137L-section folder from previous notebooks)
fh_data <- read.csv("./data.csv")
# load in population data
# uncomment and then run this line of code once you have uploaded your data to yout jupyter page
#pop_data <- read.csv("./API_SP.POP.TOTL_DS2_en_csv_v2_19373.csv", skip = 4) # 'this skip = 4'part you can ignore, World Bank data is weird

###  Exploring Your Datasets

Before we can join our two data frames, let’s take a closer look at each one:

- What **information** does each dataset contain about countries?
- What are the **column names** used to identify countries?
- Are the **country columns named the same** in both datasets?

These questions are important because in order to successfully join two data frames, the key column (used in `by =`) must have **matching names** and **matching values** (e.g., same spelling, capitalization, etc.).

>  **Important:**  
> If one dataset uses `"Country.Name"` and the other uses `"country"` or `"country_name"` (or `"Country.Territory"`), we’ll need to either rename one of them or specify the join with `by = c("A" = "B")`.

In [37]:
head(fh_data)

  Country.Territory Region  C.T Edition Status PR.rating CL.rating A1 A2 A3 ⋯
1 Abkhazia          Eurasia t   2024    PF     5         5         2  2  1  ⋯
2 Afghanistan       Asia    c   2024    NF     7         7         0  0  0  ⋯
3 Albania           Europe  c   2024    PF     3         3         3  3  3  ⋯
4 Algeria           Africa  c   2024    NF     6         5         1  1  1  ⋯
5 Andorra           Europe  c   2024    F      1         1         4  4  4  ⋯
6 Angola            Africa  c   2024    NF     6         5         0  2  1  ⋯
  F3 F4 F  G1 G2 G3 G4 G  CL Total
1 1  1   4 1  1  2  1   5 22 39
2 0  0   0 0  1  0  1   2  5  6
3 2  3  10 3  2  2  2   9 40 68
4 2  2   6 2  2  2  1   7 22 32
5 4  3  15 4  4  3  4  15 55 93
6 1  2   5 1  1  1  0   3 18 28

In [38]:
head(pop_data)

  Country.Name                Country.Code Indicator.Name    Indicator.Code
1 Aruba                       ABW          Population, total SP.POP.TOTL
2 Africa Eastern and Southern AFE          Population, total SP.POP.TOTL
3 Afghanistan                 AFG          Population, total SP.POP.TOTL
4 Africa Western and Central  AFW          Population, total SP.POP.TOTL
5 Angola                      AGO          Population, total SP.POP.TOTL
6 Albania                     ALB          Population, total SP.POP.TOTL
  X1960     X1961     X1962     X1963     X1964     X1965     ⋯ X2016
1     54922     55578     56320     57002     57619     58190 ⋯    108727
2 130072080 133534923 137171659 140945536 144904094 149033472 ⋯ 623369401
3   9035043   9214083   9404406   9604487   9814318  10036008 ⋯  34700612
4  97630925  99706674 101854756 104089175 106388440 108772632 ⋯ 429454743
5   5231654   5301583   5354310   5408320   5464187   5521981 ⋯  29183070
6   1608800   1659800   1711319   1762621   1814135   1864791 ⋯   2876101
  X2017     X2018     X2019     X2020     X2021     X2022     X2023     X2024
1    108735    108908    109203    108587    107700    107310    107359 NA
2 640058741 657801085 675950189 694446100 713090928 731821393 750503764 NA
3  35688935  36743039  37856121  39068979  40000412  40578842  41454761 NA
4 440882906 452195915 463365429 474569351 485920997 497387180 509398589 NA
5  30234839  31297155  32375632  33451132  34532429  35635029  36749906 NA
6   2873457   2866376   2854191   2837849   2811666   2777689   2745972 NA
  X
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

### Reshaping the Population Data

Our two datasets are structured differently:

- `fh_data` is already in **country-year** format — each row is a specific country in a specific year.
- `pop_data`, on the other hand, has **one row per country**, with **a separate column for each year’s population** (e.g., `1960`, `1961`, ..., `2022`).

To join these datasets, we need to **reshape `pop_data` from wide to long format** so that:

- There is one row per **country-year**
- The population values are in a single column (e.g., `population`)
- The year values are in their own column (e.g., `year`)

>  We reshape the data so that it "lines up" with `fh_data`—putting each country-year observation into its own row allows us to merge the two datasets cleanly using shared `country` and `year` columns.


We can do this using the `pivot_longer()` function from the **`tidyverse`**.

---

### Example Code

In [39]:

pop_long <- pop_data %>%
  pivot_longer(
    cols = X1960:X2023,         # These are column names like X1960, X1961, ...
    names_to = "year",
    values_to = "population"
  ) %>%
  filter(!is.na(population)) %>%
  mutate(
    year = as.integer(str_remove(year, "X"))  # Remove "X" and make sure year is numeric
  ) 

head(pop_long)

  Country.Name Country.Code Indicator.Name    Indicator.Code X2024 X  year
1 Aruba        ABW          Population, total SP.POP.TOTL    NA    NA 1960
2 Aruba        ABW          Population, total SP.POP.TOTL    NA    NA 1961
3 Aruba        ABW          Population, total SP.POP.TOTL    NA    NA 1962
4 Aruba        ABW          Population, total SP.POP.TOTL    NA    NA 1963
5 Aruba        ABW          Population, total SP.POP.TOTL    NA    NA 1964
6 Aruba        ABW          Population, total SP.POP.TOTL    NA    NA 1965
  population
1 54922
2 55578
3 56320
4 57002
5 57619
6 58190

We want to keep cleaning this new dataframe we just made though. Notice how it has a bunch of columns we don't need, like `Indicator.Code`?

Ultimately, we just want to keep the `country`, `year`, and `population` variables. Also, remember earlier how each dataframe called the country variable something different? Let's make it so this population data calls its respective population column exactly what Freedom House uses (`Country.Territory`). We also Want to do this with the year variable (Freedom House calls it `Edition')

In order to do this, we can use the `select()` function from the **tidyverse** to drop the unnecessary columns and retain only what we need, and the `rename()` function to rename the country variable:

In [47]:
pop_clean <- pop_long %>%
  select(Country.Name, year, population) %>%
  rename(Country.Territory = Country.Name) %>%
  rename(Edition = year)
head(pop_clean)

  Country.Territory Edition population
1 Aruba             1960    54922
2 Aruba             1961    55578
3 Aruba             1962    56320
4 Aruba             1963    57002
5 Aruba             1964    57619
6 Aruba             1965    58190

###  Now We're Ready to Merge!

With both datasets cleaned and in the same format — one row per **country-year** — we’re ready to join them together.

We’ll use `left_join()` from the **tidyverse** to merge `fh_data` (our Freedom House data) with `pop_clean` (our cleaned population data) by matching on both `country` and `year`:

In [49]:
merged_data <- left_join(fh_data, pop_clean, by = c("Country.Territory", "Edition"))
View(merged_data)

     Country.Territory      Region      C.T Edition Status PR.rating CL.rating
1    Abkhazia               Eurasia     t   2024    PF     5         5
2    Afghanistan            Asia        c   2024    NF     7         7
3    Albania                Europe      c   2024    PF     3         3
4    Algeria                Africa      c   2024    NF     6         5
5    Andorra                Europe      c   2024    F      1         1
6    Angola                 Africa      c   2024    NF     6         5
7    Antigua and Barbuda    Americas    c   2024    F      2         2
8    Argentina              Americas    c   2024    F      2         2
9    Armenia                Eurasia     c   2024    PF     4         4
10   Australia              Asia        c   2024    F      1         1
11   Austria                Europe      c   2024    F      1         1
12   Azerbaijan             Eurasia     c   2024    NF     7         7
13   Bahamas                Americas    c   2024    F      1         1
14   Bahrain                Middle East c   2024    NF     7         6
15   Bangladesh             Asia        c   2024    PF     5         5
16   Barbados               Americas    c   2024    F      1         1
17   Belarus                Eurasia     c   2024    NF     7         7
18   Belgium                Europe      c   2024    F      1         1
19   Belize                 Americas    c   2024    F      2         1
20   Benin                  Africa      c   2024    PF     4         3
21   Bhutan                 Asia        c   2024    PF     2         4
22   Bolivia                Americas    c   2024    PF     3         3
23   Bosnia and Herzegovina Europe      c   2024    PF     5         4
24   Botswana               Africa      c   2024    F      3         2
25   Brazil                 Americas    c   2024    F      2         3
26   Brunei                 Asia        c   2024    NF     6         5
27   Bulgaria               Europe      c   2024    F      2         2
28   Burkina Faso           Africa      c   2024    NF     7         5
29   Burundi                Africa      c   2024    NF     7         6
30   Cabo Verde             Africa      c   2024    F      1         1
⋮    ⋮                      ⋮           ⋮   ⋮       ⋮      ⋮         ⋮
2486 Taiwan                 Asia        c   2013    F      1         2
2487 Tajikistan             Eurasia     c   2013    NF     6         6
2488 Tanzania               Africa      c   2013    PF     3         3
2489 Thailand               Asia        c   2013    PF     4         4
2490 The Gambia             Africa      c   2013    NF     6         6
2491 Tibet                  Asia        t   2013    NF     7         7
2492 Timor-Leste            Asia        c   2013    PF     3         4
2493 Togo                   Africa      c   2013    PF     5         4
2494 Tonga                  Asia        c   2013    F      3         2
2495 Transnistria           Eurasia     t   2013    NF     6         6
2496 Trinidad and Tobago    Americas    c   2013    F      2         2
2497 Tunisia                Africa      c   2013    PF     3         4
2498 Turkey                 Europe      c   2013    PF     3         4
2499 Turkmenistan           Eurasia     c   2013    NF     7         7
2500 Tuvalu                 Asia        c   2013    F      1         1
2501 Uganda                 Africa      c   2013    PF     5         4
2502 Ukraine                Eurasia     c   2013    PF     4         3
2503 United Arab Emirates   Middle East c   2013    NF     6         6
2504 United Kingdom         Europe      c   2013    F      1         1
2505 United States          Americas    c   2013    F      1         1
2506 Uruguay                Americas    c   2013    F      1         1
2507 Uzbekistan             Eurasia     c   2013    NF     7         7
2508 Vanuatu                Asia        c   2013    F      2         2
2509 Venezuela              Americas    c   2013    PF     5         5
2510 Vietnam                Asia        c   2013    NF     7         5
2511 West Bank              Middle East t   2013    NF     6         5
2512 Western Sahara         Africa      t   2013    NF     7         7
2513 Yemen                  Middle East c   2013    NF     6         6
2514 Zambia                 Africa      c   2013    PF     3         4
2515 Zimbabwe               Africa      c   2013    NF     6         6
     A1 A2 A3 ⋯ F4 F  G1 G2 G3 G4 G  CL Total population
1    2  2  1  ⋯ 1   4 1  1  2  1   5 22 39    NA
2    0  0  0  ⋯ 0   0 0  1  0  1   2  5  6    NA
3    3  3  3  ⋯ 3  10 3  2  2  2   9 40 68    NA
4    1  1  1  ⋯ 2   6 2  2  2  1   7 22 32    NA
5    4  4  4  ⋯ 3  15 4  4  3  4  15 55 93    NA
6    0  2  1  ⋯ 2   5 1  1  1  0   3 18 28    NA
7    4  4  4  ⋯ 3  14 4  3  3  3  13 52 85    NA
8    4  4  3  ⋯ 3  10 4  3  4  3  14 50 85    NA
9    2  2  3  ⋯ 2   5 2  3  2  2   9 31 54    NA
10   4  4  4  ⋯ 3  15 4  4  4  3  15 57 95    NA
11   4  4  4  ⋯ 3  15 4  4  4  3  15 56 93    NA
12   0  0  0  ⋯ 0   0 1  1  1  1   4  7  7    NA
13   4  4  4  ⋯ 2  13 3  4  3  3  13 53 91    NA
14   0  1  1  ⋯ 0   1 1  2  2  1   6 10 12    NA
15   1  1  2  ⋯ 1   5 3  2  2  2   9 25 40    NA
16   4  4  4  ⋯ 3  14 4  4  3  4  15 57 94    NA
17   0  0  0  ⋯ 0   0 1  1  2  1   5  6  8    NA
18   4  4  4  ⋯ 3  15 4  4  4  3  15 57 96    NA
19   4  4  4  ⋯ 3  13 4  3  3  3  13 53 87    NA
20   1  2  1  ⋯ 3   9 3  3  2  2  10 42 61    NA
21   3  4  3  ⋯ 2   9 2  3  2  2   9 33 63    NA
22   4  4  2  ⋯ 2   6 3  2  3  2  10 39 66    NA
23   2  2  1  ⋯ 2   7 3  2  3  2  10 34 51    NA
24   3  4  3  ⋯ 2  11 3  3  2  3  11 44 72    NA
25   3  3  4  ⋯ 2   8 3  3  3  2  11 42 72    NA
26   0  0  0  ⋯ 1   5 2  2  1  2   7 21 28    NA
27   4  3  3  ⋯ 2  10 4  3  3  2  12 46 78    NA
28   0  0  0  ⋯ 1   4 1  1  2  2   6 24 27    NA
29   1  0  0  ⋯ 1   1 1  1  1  1   4 10 14    NA
30   4  4  4  ⋯ 3  14 4  3  3  3  13 54 92    NA
⋮    ⋮  ⋮  ⋮  ⋱ ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮  ⋮     ⋮
2486 4  4  3  ⋯ 3  14 4  3  3  3  13 52 88           NA
2487 0  1  1  ⋯ 1   3 1  1  1  1   4 16 24      8216724
2488 3  3  3  ⋯ 3  11 3  2  2  2   9 38 66     48824128
2489 3  3  2  ⋯ 2   6 3  2  3  2  10 31 53     69845114
2490 0  1  1  ⋯ 1   1 2  2  1  1   6 16 23           NA
2491 0  0  0  ⋯ 0   0 0  1  1  1   3  3  1           NA
2492 4  4  3  ⋯ 2   6 3  2  2  2   9 34 63      1158695
2493 1  2  1  ⋯ 1   6 2  2  1  2   7 27 43      7285442
2494 4  4  3  ⋯ 2  11 4  3  3  2  12 44 73       107078
2495 1  1  1  ⋯ 1   2 2  1  1  1   5 15 25           NA
2496 4  4  3  ⋯ 2   9 4  3  3  3  13 48 81      1340557
2497 3  3  3  ⋯ 2   6 2  2  3  2   9 33 59     11141361
2498 4  4  3  ⋯ 2   7 3  3  2  2  10 33 61           NA
2499 0  0  0  ⋯ 0   1 1  1  1  0   3  6  7      5939341
2500 4  4  4  ⋯ 3  15 4  4  3  3  14 57 94        11001
2501 1  1  1  ⋯ 2   6 2  2  1  2   7 28 40     35337042
2502 4  2  2  ⋯ 2   7 4  2  3  2  11 36 57     46126770
2503 0  1  0  ⋯ 1   4 1  1  1  1   4 14 22      7693031
2504 4  4  4  ⋯ 3  15 4  4  4  3  15 57 97     64128273
2505 4  4  3  ⋯ 3  14 4  4  4  3  15 56 93    316059947
2506 4  4  4  ⋯ 4  15 4  4  4  3  15 58 97      3345337
2507 0  0  0  ⋯ 0   0 1  1  1  0   3  4  4     29724065
2508 3  3  3  ⋯ 3  10 4  3  2  2  11 47 79       254482
2509 2  2  1  ⋯ 1   4 1  1  3  2   7 24 39           NA
2510 0  0  0  ⋯ 1   4 2  1  3  2   8 17 19           NA
2511 0  0  2  ⋯ 1   5 1  1  2  1   5 24 30           NA
2512 0  0  0  ⋯ 0   0 1  1  2  0   4  7  5           NA
2513 1  0  2  ⋯ 1   2 2  1  1  1   5 16 25           NA
2514 3  3  3  ⋯ 2   8 3  2  1  2   8 34 62     15398997
2515 1  1  1  ⋯ 0   1 1  1  1  1   4 14 25     14013808

Notice that **the year 2024 is missing** in the merged dataset — that’s because it wasn’t included in the population data we downloaded.

You may also see some other missing values (`NA`s) for specific countries or years — these could be due to inconsistent country names, missing data from the World Bank, or years that don’t fully overlap across datasets.

---

### Play with Merged Data

Now that we’ve merged population and Freedom House scores, you can start exploring how these two variables relate to one another! Create a visualization of your choosing below:

In [ ]:
#plot(...)